$primary:       #fff;
$white:       #fff;
$secondary:#423BCE;
$border-radius: 8px;
$text-color:#F8F8F8;
$app-green:#37D5C7;
$bg-light:#333764;

$bg-dark100:#060520;
$bg-dark80:#11132C;
$bg-dark60:#1D1F40;
$bg-dark40:#2E3166;
